@font-face {
  font-family: aquire;
  src: url("assets/AquireBold-8Ma60.otf");
}
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16px;
  line-height: 1;
}

#header {
  padding: 0px;
  background-color: #F9FBFE;
}
#header-wrap {
  padding: 0 44px;
  margin-top: 40px;
  height: 6rem;
}
#header-logo {
  margin-right: 4.8rem;
}
#header-logo img {
  width: 288px;
  height: 6rem;
}

.header-list {
  padding-top: 0.8rem;
  padding-left: 50px;
}
.header-item {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 4.8rem;
}
.header-item a {
  color: #1D262B;
}
.header-item:first-child {
  font-weight: bold;
}
.header-login {
  width: 164px;
  height: 48px;
  border: 1px solid #1A71CA;
  border-radius: 8px;
  color: #1A71CA;
  font-size: 20px;
  font-family: "Darker Grotesque", sans-serif;
  background-color: unset;
  font-weight: 600;
}
.header-login i {
  color: #22438C;
  margin-right: 8px;
}

#LDPage-1, #LDPage-2 {
  padding: 0 44px;
}

.LDPage {
  background-color: #F9FBFE;
}
.LDPage-1, .LDPage-2, .LDPage-3 {
  font-family: "Darker Grotesque", sans-serif;
}
.LDPage-1-img {
  width: 100%;
  height: 655px;
}
.LDPage-1-wrap {
  transform: translateX(10%) translateY(50%);
  margin: auto;
}
.LDPage-1-title {
  font-size: 48px;
  color: #22438C;
  font-weight: 600;
  margin-bottom: 0;
}
.LDPage-1-name {
  font-family: aquire;
  font-size: 56px;
  color: #1A71CA;
}
.LDPage-1-text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 48px;
  width: 484px;
  height: 72px;
}
.LDPage-1-btn {
  margin-top: 32px;
}
.LDPage-1-btn-detail, .LDPage-1-btn-comein {
  width: 204px;
  height: 48px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 2px 6px 0px #045ebf41;
}
.LDPage-1-btn-detail {
  background-color: #F6F8F9;
  font-size: 24px;
  font-weight: bold;
  color: #1A71CA;
  margin-right: 48px;
}
.LDPage-1-btn-comein {
  background-color: #FBAB5B;
  font-size: 24px;
  font-weight: bold;
  color: #F9FBFE;
}
.LDPage-imgWave {
  width: 100%;
  background-color: #F9FBFE;
}
.LDPage-wrap {
  position: relative;
}
.LDPage-2 {
  height: 470px;
  position: relative;
}
.LDPage-2-row {
  height: 100%;
}
.LDPage-2-img {
  width: 180px;
  height: 150px;
  margin-bottom: 24px;
}
.LDPage-2-img-Wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.LDPage-2-img-Wave img {
  width: 100%;
  height: 150px;
}
.LDPage-2-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Darker Grotesque", sans-serif;
  width: 360px;
  margin: 0 auto;
}
.LDPage-2-box h2 {
  color: #7B7986;
  font-weight: 600;
}
.LDPage-2-box p {
  text-align: center;
  color: #1A71CA;
  font-size: 2rem;
  font-weight: 600;
}
.LDPage-3 {
  height: 654px;
}
.LDPage-3-row {
  height: 100%;
}
.LDPage-3-right {
  padding-left: 0px !important;
}
.LDPage-3-title {
  text-align: center;
  color: #1A71CA;
}
.LDPage-3-title h1 {
  font-weight: 800;
  transform: translateY(110%);
  font-size: 36px;
}
.LDPage-3-content {
  padding-right: 44px;
}
.LDPage-3-text {
  font-size: 28px;
  color: #7B7986;
  text-align: justify;
  font-weight: 500;
}
.LDPage-3-text:not(:first-child) {
  margin-top: 24px;
}
.LDPage-4 {
  height: 100%;
}
.LDPage-4-wrap {
  height: 266px;
  background-color: #F9FBFE;
  font-family: "Darker Grotesque", sans-serif;
}
.LDPage-4-row {
  height: 100%;
}
.LDPage-4-card {
  width: 266px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(222, 223, 225, 0.5);
  justify-content: space-around;
}
.LDPage-4-card-title {
  font-size: 16px;
  font-weight: 600;
  color: #22438C;
}
.LDPage-4-card-text {
  font-size: 24px;
  color: #FBAB5B;
  font-weight: bold;
}
.LDPage-4-card-text span {
  font-size: 14px;
}
.LDPage-5 {
  width: 100%;
  height: 720px;
  font-family: "Darker Grotesque", sans-serif;
}
.LDPage-5-title {
  font-size: 36px;
  font-weight: 800;
  color: #1A71CA;
  text-align: center;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
.LDPage-5-wrap {
  position: relative;
}
.LDPage-5-text {
  font-size: 28px;
  color: #7B7986;
  width: 509px;
  height: 230px;
  position: relative;
  z-index: 1;
  transform: translate(64%, 46%);
}
.LDPage-5-text p {
  line-height: 1.6;
}
.LDPage-5-img {
  width: 70%;
  position: absolute;
  transform: translate(20%, -48%);
}

.footer {
  width: 100%;
  height: 450px;
  font-family: "Darker Grotesque", sans-serif;
}
.footer-row {
  padding: 0 44px;
  height: 100%;
  align-content: center;
}
.footer-intro {
  font-size: 18px;
  color: #22438C;
  font-weight: 600;
  padding-left: 20px;
}
.footer-intro-title {
  font-weight: 600;
}
.footer-intro-local {
  color: #1A71CA;
}
.footer-intro-phone {
  color: #DF2040;
}
.footer-help, .footer-info, .footer-link {
  margin-top: 52px;
}
.footer-help h2, .footer-info h2, .footer-link h2 {
  font-size: 24px;
  color: #DF2040;
  font-weight: bold;
  margin-bottom: 24px;
}
.footer-help p, .footer-info p, .footer-link p {
  color: #22438C;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer-help i, .footer-info i, .footer-link i {
  color: #22438C;
  font-size: 40px;
  font-weight: 600;
}
.footer-help i:not(:last-child), .footer-info i:not(:last-child), .footer-link i:not(:last-child) {
  margin-right: 40px;
}
.footer-icons {
  display: flex;
  width: 100%;
}

.copyRight {
  width: 100%;
  height: 96px;
  font-family: "Manrope", sans-serif;
  background-image: linear-gradient(to right, #A5D6FE, #CCEDFF, #A5D6FE);
  position: relative;
}
.copyRight span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1023px) {
  #header-wrap {
    padding: 0 44px;
    margin-top: 36px;
    height: 6rem;
  }
  #header-logo {
    margin-right: 4rem;
  }
  #header-logo img {
    width: 280px;
    height: 6rem;
  }

  .header-list {
    padding-left: 50px;
  }
  .header-item {
    font-size: 20px;
    margin-right: 30px;
  }
  .header-login {
    width: 130px;
    height: 40px;
    font-size: 18px;
  }

  .LDPage-1 {
    height: 450px;
  }
  .LDPage-1-img {
    width: 100%;
  }
  .LDPage-1-img img {
    width: 100%;
    height: 448px;
  }
  .LDPage-1-wrap {
    transform: translateX(10%) translateY(30%);
    margin: auto;
  }
  .LDPage-1-title {
    font-size: 34px;
  }
  .LDPage-1-name {
    font-size: 40px;
  }
  .LDPage-1-text {
    font-size: 18px;
    margin-top: 40px;
    width: 446px;
    height: 70px;
  }
  .LDPage-1-btn {
    margin-top: 32px;
  }
  .LDPage-1-btn-detail, .LDPage-1-btn-comein {
    width: 150px;
    height: 40px;
  }
  .LDPage-1-btn-detail {
    font-size: 18px;
  }
  .LDPage-1-btn-comein {
    font-size: 18px;
  }
  .LDPage-2 {
    height: 400px;
  }
  .LDPage-2-img {
    width: 160px;
    height: 150px;
  }
  .LDPage-2-box {
    width: 100%;
  }
  .LDPage-2-box p {
    text-align: center;
    color: #1A71CA;
    font-size: 18px;
    font-weight: 600;
    height: 80px;
  }
  .LDPage-3 {
    height: 500px;
  }
  .LDPage-3-right {
    padding-left: 0px !important;
  }
  .LDPage-3-title {
    text-align: center;
    color: #1A71CA;
  }
  .LDPage-3-title h1 {
    margin-top: 20px;
    font-weight: 800;
    font-size: 28px;
  }
  .LDPage-3-content {
    padding-right: 44px;
    margin-top: 20px;
  }
  .LDPage-3-text {
    font-size: 22px;
  }
  .LDPage-3-text:not(:first-child) {
    margin-top: 18px;
  }
  .LDPage-4 {
    height: 100%;
  }
  .LDPage-4-wrap {
    height: 266px;
    background-color: #F9FBFE;
    font-family: "Darker Grotesque", sans-serif;
  }
  .LDPage-4-row {
    height: 100%;
  }
  .LDPage-4-card {
    width: 220px;
    height: 80px;
  }
  .LDPage-4-card-title {
    font-size: 16px;
    font-weight: 600;
  }
  .LDPage-4-card-text {
    font-size: 20px;
  }
  .LDPage-4-card-text span {
    font-size: 16px;
  }
  .LDPage-4-card-right img {
    width: 68px;
    height: 58px;
  }
  .LDPage-5 {
    width: 100%;
    height: 580px;
    font-family: "Darker Grotesque", sans-serif;
  }
  .LDPage-5-title {
    font-size: 28px;
    margin-top: 25px;
  }
  .LDPage-5-wrap {
    position: relative;
  }
  .LDPage-5-text {
    font-size: 24px;
    width: 422px;
    height: 230px;
    transform: translate(46%, 44%);
  }
  .LDPage-5-img {
    width: 80%;
    position: absolute;
    transform: translate(13%, -56%);
  }

  .footer {
    width: 100%;
    height: 360px;
    font-family: "Darker Grotesque", sans-serif;
  }
  .footer-row {
    padding: 0 44px;
    height: 100%;
    align-content: center;
  }
  .footer-logo {
    width: 80%;
  }
  .footer-intro {
    font-size: 16px;
    color: #22438C;
    font-weight: 600;
    padding-left: 20px;
  }
  .footer-intro-title {
    font-weight: 600;
  }
  .footer-intro-local {
    color: #1A71CA;
  }
  .footer-intro-phone {
    color: #DF2040;
  }
  .footer-help, .footer-info, .footer-link {
    margin-top: 30px;
  }
  .footer-help h2, .footer-info h2, .footer-link h2 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .footer-help p, .footer-info p, .footer-link p {
    color: #22438C;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .footer-help i, .footer-info i, .footer-link i {
    font-size: 30px;
  }

  .copyRight {
    width: 100%;
    height: 76px;
    font-family: "Manrope", sans-serif;
    background-image: linear-gradient(to right, #A5D6FE, #CCEDFF, #A5D6FE);
    position: relative;
  }
  .copyRight span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1439px) {
  #header-wrap {
    padding: 0 44px;
    margin-top: 36px;
    height: 6rem;
  }
  #header-logo {
    margin-right: 4rem;
  }
  #header-logo img {
    width: 280px;
    height: 6rem;
  }

  .header-list {
    padding-left: 50px;
  }
  .header-item {
    font-size: 20px;
    margin-right: 30px;
  }
  .header-login {
    width: 130px;
    height: 40px;
    font-size: 18px;
  }

  .LDPage-1 {
    height: 450px;
  }
  .LDPage-1-img {
    width: 100%;
  }
  .LDPage-1-img img {
    width: 100%;
    height: 448px;
  }
  .LDPage-1-wrap {
    transform: translateX(10%) translateY(30%);
    margin: auto;
  }
  .LDPage-1-title {
    font-size: 34px;
  }
  .LDPage-1-name {
    font-size: 40px;
  }
  .LDPage-1-text {
    font-size: 18px;
    margin-top: 40px;
    width: 446px;
    height: 70px;
  }
  .LDPage-1-btn {
    margin-top: 32px;
  }
  .LDPage-1-btn-detail, .LDPage-1-btn-comein {
    width: 150px;
    height: 40px;
  }
  .LDPage-1-btn-detail {
    font-size: 18px;
  }
  .LDPage-1-btn-comein {
    font-size: 18px;
  }
  .LDPage-2 {
    height: 400px;
  }
  .LDPage-2-img {
    width: 160px;
    height: 150px;
  }
  .LDPage-2-box {
    width: 100%;
  }
  .LDPage-2-box p {
    text-align: center;
    color: #1A71CA;
    font-size: 18px;
    font-weight: 600;
    height: 80px;
  }
  .LDPage-3 {
    height: 500px;
  }
  .LDPage-3-right {
    padding-left: 0px !important;
  }
  .LDPage-3-title {
    text-align: center;
    color: #1A71CA;
  }
  .LDPage-3-title h1 {
    margin-top: 20px;
    font-weight: 800;
    font-size: 28px;
  }
  .LDPage-3-content {
    padding-right: 44px;
    margin-top: 20px;
  }
  .LDPage-3-text {
    font-size: 22px;
  }
  .LDPage-3-text:not(:first-child) {
    margin-top: 18px;
  }
  .LDPage-4 {
    height: 100%;
  }
  .LDPage-4-wrap {
    height: 266px;
    background-color: #F9FBFE;
    font-family: "Darker Grotesque", sans-serif;
  }
  .LDPage-4-row {
    height: 100%;
  }
  .LDPage-4-card {
    width: 220px;
    height: 80px;
  }
  .LDPage-4-card-title {
    font-size: 16px;
    font-weight: 600;
  }
  .LDPage-4-card-text {
    font-size: 20px;
  }
  .LDPage-4-card-text span {
    font-size: 16px;
  }
  .LDPage-4-card-right img {
    width: 68px;
    height: 58px;
  }
  .LDPage-5 {
    width: 100%;
    height: 580px;
    font-family: "Darker Grotesque", sans-serif;
  }
  .LDPage-5-title {
    font-size: 28px;
    margin-top: 25px;
  }
  .LDPage-5-wrap {
    position: relative;
  }
  .LDPage-5-text {
    font-size: 24px;
    width: 422px;
    height: 230px;
    transform: translate(46%, 44%);
  }
  .LDPage-5-img {
    width: 80%;
    position: absolute;
    transform: translate(13%, -56%);
  }

  .footer {
    width: 100%;
    height: 360px;
    font-family: "Darker Grotesque", sans-serif;
  }
  .footer-row {
    padding: 0 44px;
    height: 100%;
    align-content: center;
  }
  .footer-logo {
    width: 80%;
  }
  .footer-intro {
    font-size: 16px;
    color: #22438C;
    font-weight: 600;
    padding-left: 20px;
  }
  .footer-intro-title {
    font-weight: 600;
  }
  .footer-intro-local {
    color: #1A71CA;
  }
  .footer-intro-phone {
    color: #DF2040;
  }
  .footer-help, .footer-info, .footer-link {
    margin-top: 30px;
  }
  .footer-help h2, .footer-info h2, .footer-link h2 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .footer-help p, .footer-info p, .footer-link p {
    color: #22438C;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .footer-help i, .footer-info i, .footer-link i {
    font-size: 30px;
  }

  .copyRight {
    width: 100%;
    height: 76px;
    font-family: "Manrope", sans-serif;
    background-image: linear-gradient(to right, #A5D6FE, #CCEDFF, #A5D6FE);
    position: relative;
  }
  .copyRight span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1699px) {
  body {
    width: 1440px;
  }
}

/*# sourceMappingURL=landingpage.css.map */
